@import "/assets/css/reset.css";

body {
  background: url("../src/img/bg.jpg") no-repeat center / cover fixed;
  background-color: rgba(255, 255, 255, 0.774);
  background-blend-mode: overlay;
}
.header {
  width: 100%;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}
.header > .logo {
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1.25rem;
  text-decoration: none;
}
.header > .menu {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 600;
  padding: 0 0.75rem;
}

.banner-wrapper {
  position: relative;
  min-height: 35rem;
  max-height: 40rem;
  overflow: hidden;
  margin-bottom: 8rem;
}

.banner-article-wrapper {
  position: absolute;
  z-index: 5;
  bottom: 30%;
  left: 0;
  right: 0;
}

.banner-article {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.banner-article > h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
}

.banner-article > p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.65;
}
.banner-article a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.banner-video {
  position: absolute;
  top: 0;
  width: 100%;
}
.banner-wrapper:after {
  background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
  content: " ";
  display: block;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.banner-wrapper:before {
  background: #111111;
  content: "";
  height: 100%;
  opacity: 0.45;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.max-widh {
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
}
.main-article {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #555555;
  margin-bottom: 4rem;
}
.main-article > h2 {
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.main-article > p {
  max-width: 56em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
  font-size: 17.3px;
  line-height: 1.65;
}
.card-wrapper,
.feedback-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 3%);
  margin-bottom: 8rem;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 5rem;
  text-align: center;
}
.card h3 {
  color: #555555;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.card p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  margin-bottom: 1rem;
}

.paralax-wrapper {
  background: url("../img/cta01.jpg") no-repeat bottom / cover fixed;
  background-color: rgba(206, 27, 40, 0.25);
  background-blend-mode: overlay;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.6rem;
  text-align: center;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 8rem;
}
.special-article h2 {
  color: #ffffff;
  font-size: 2.25rem;
  margin-bottom: 26px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}
.special-article p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 17.3px;
  line-height: 1.65;
}
.feedback-wrapper {
  margin-bottom: 4rem;
}
.feedback-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 3rem;
}
.feedback-card > blockquote {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  border-left: solid 0.5rem rgba(0, 0, 0, 0.25);
  font-style: italic;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 2rem;
  text-align: left;
}
.person-card > img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2rem;
}
.person-card > p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.65;
  font-size: 0.75rem;
  color: #6c6c6c;
}
.person-card strong {
  color: #ce1b28;
  font-weight: 600;
}
.person-card {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer {
  background-color: #111111;
}
.footer-container {
  color: rgba(255, 255, 255, 0.5);
  padding: 8rem 0 6rem 0;
}
.container {
  display: flex;
  margin: 2rem 0 2rem 0;
}
.container h3 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}
.footer-article {
  max-width: 40rem;
  padding-right: 4rem;
}
.footer-article p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.0868rem;
  line-height: 1.65;
  margin-bottom: 2rem;
}
.footer-links {
  max-width: 20rem;
}
.footer-links li:nth-child(n + 2) {
  border-top: solid 1px;
  padding-top: 0.75rem;
}
.footer-links li:nth-child(2) {
  padding-bottom: 0.75rem;
}
.footer-links li:nth-child(2n + 1) {
  padding-bottom: 0.75rem;
}
.footer-links a,
.media-link-list a {
  text-decoration: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.0868rem;
  line-height: 1.65;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer-links a:hover,
.media-link-list a:hover {
  color: #ce1b28;
}
.icon-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 15px;
  background-color: black;
  border-radius: 4px;
}
.icon-img:hover {
  box-shadow: 0 0 15px #ce1b28;
}
.media-link-list {
  padding-left: 4rem;
}
.media-link-list li {
  margin-bottom: 1rem;
}
.footer-credits {
  border-top: solid 1px;
  font-size: 1.0868rem;
  font-size: 13pt;
  opacity: 0.5;
  text-align: center;
  padding: 2rem 0;
}
